<%- include("partials/header.ejs") %>
<div class="flex-container">
    <% if (locals.blogPosts && locals.blogPosts.length > 0) { %>
        <% for (let i=0; i<blogPosts.length; i++) { %>
            <!-- If a post is to be edited, change it into a form -->
            <% if (locals.editPost && i === locals.editPostId) { %>
                <div class="blog-post-edit">
                    <form action="/posts/update" method="POST">
                        <label for="content">Edit your post</label>
                        <textarea name="content" required><%= blogPosts[i].content %></textarea>
                        <input type="hidden" value="<%= i %>" name="postId">
                        <div class="edit-post-bottom-row">
                            <div class="author-field">
                                <label for="author">Author</label>
                                <input type="text" name="author" value="<%= blogPosts[i].author %>" required>
                            </div>
                            <div class="bottom-row-buttons">
                                <input type="submit" value="Update">
                                <form action="/posts/update/cancsel" method="POST">
                                    <input type="hidden" name="cancel" value="1">
                                    <input type="submit" value="Cancel">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            <!-- Otherwise display it normally -->
            <% } else { %>
                <div class="blog-post">
                    <div class="blog-post-top-row">
                        <p class="post-id"><%= i %></p>
                        <p class="author"><%= blogPosts[i].author %></p>
                        <!-- workarounds for not being able to use PUT or DELETE method yet -->
                         <div class="top-row-buttons">
                             <form action="/posts/edit" method="POST">
                                 <input type="hidden" value="<%= i %>" name="postId">
                                 <input type="submit" value="Edit">
                                </form>
                                <form action="/posts/delete" method="POST">
                                    <input type="hidden" value="<%= i %>" name="postId">
                                    <input type="submit" class="delete-button" value="Delete">
                                </form>
                            </div>
                    </div>
                    <p class="content"><%= blogPosts[i].content %></p>
                </div>
            <% } %>
        <% } %>
    <% } %>
</div>
<div class="blog-post-creation">
    <form action="/posts" method="POST">
        <label for="content">What do you want to write about?</label>
        <textarea name="content" required></textarea>
        <div class="create-post-bottom-row">
            <div class="author-field">
                <label for="author">Your Name:</label>
                <input type="text" name="author" required>
            </div>
            <input type="submit" value="Post">
        </div>
    </form>
</div>
</body>

<%- include("partials/footer.ejs") %>